{% extends "index.html" %}
{% load bootstrap4 %} {% block title %} Профиль пользователя {% endblock %}
{% block content %}
    <h2>Профиль пользователя {{ user.username }}</h2>
    {% if user.first_name and user.last_name %}
    <p>Здравствуйте, {{ user.first_name }} {{ user.last_name }} </p>
    {% else %}
    <p>Здравствуйте! </p>
    {% endif %}
    <form class="p-2 text-dark" action="{% url 'catalog:create_application' %}" method="post">
        {% csrf_token %}
        <button type="submit">Создать новую заявку</button>
    </form>
 {% endblock %}